#container
{
	margin: 0 30px;
<<<<<<< HEAD
	background: #7FC6BC;
=======
	background: #fff;
	cursor:pointer;
	background-color:grey;
>>>>>>> 4e295b2a18ace06ef4e7223394973e4a426d2966
}

#header
{
<<<<<<< HEAD
	background: #046380;
	padding: 20px;
	text-decoration:blink;
}
=======
	color:grey;
	background:black;
	padding: 20px;
	text-decoration:blink;
	text-align:center;
	font-size:xx-large;
}	font-style:italic;
>>>>>>> 4e295b2a18ace06ef4e7223394973e4a426d2966

#header h1 { margin: 0; }

#navigation
{
	float: left;
	width: 100%;
	background: #333;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #000;
	text-decoration: none;
	border-right: 1px solid #000;
}

#navigation li a:hover { background: #000; }

#edito
{
	clear: left;
	padding: 20px;
	margin: 20px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
	-webkit-box-shadow: 0px 0px 6px #fff;
	box-shadow: 0px 0px 6px #fff;
	background-image: -webkit-gradient(linear, left top, right top, from(#000000), to(#000000));
	background-image: -webkit-linear-gradient(left, #000000, #000000);
	background-image: linear-gradient(left, #000000, #000000);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	opacity: 0.83;
	background-color:black;
	color:white;
}

#edito h2
{
	color:white;
	font-size: 160%;
	margin: 0 0 .5em;
	font-style:oblique;
	background-color:black;
}

#news
{	background-color:white;
	color: #356;
	float: left;
	width: 40%;
	padding: 20px;
	margin: 20px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
	-webkit-box-shadow: 0px 0px 6px #000000;
	box-shadow: 0px 0px 6px #000000;
	background-image: -webkit-gradient(linear, left top, right top, from(#000000), to(#000000));
	background-image: -webkit-linear-gradient(left, #000000, #000000);
	background-image: linear-gradient(left, #000000, #000000);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	opacity: 0.83;
}

#footer
{	color:white;
	font-size:x-small;
	clear: both;
<<<<<<< HEAD
	background:#046380;
	text-align: middle;
=======
	background: black;
	text-align: right;
>>>>>>> 4e295b2a18ace06ef4e7223394973e4a426d2966
	padding: 20px;
	height: 1%;
}
